* {
  font-size: 16px;
}
body {
  background-color: #fff;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

.btn-size-normal {
  font-size: 0.9rem;
}
.btn-color-primary {
  background-color: #3f51b5;
}
