.cart-products {
  height: 80%;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
}
.cart-details {
  width: 100%;
  background-color: #fff;
  padding-top: 1.2rem;
  box-shadow: 1px 1px 1px #fff;
  text-align: center;
  box-shadow: 0 -5px 10px 0 rgba(128, 98, 96, 0.16);
}

.cart-empty {
  margin: 0;
  display: inline-block;
  background: linear-gradient(#3f51b5, #1c2457);
  text-align: center;
  color: white;
  width: 45%;
}

.cart-send {
  position: relative;
  margin: 0;
  background: linear-gradient(#3f51b5, #161d40, #1c2457);
  display: inline-block;
  color: white;

  width: 50%;
}

.cart-details button {
  color: white;
}
.cart-details button:hover {
  color: white;
}

.cont-info {
  display: block;
  padding: 0.8rem;
  position: absolute;
  right: 3rem;
  top: 1rem;
  border: 1px solid #e5edef;
}

.cont-info button {
  width: 25px;
}
.cont-info-simulate {
  text-align: center;
  display: block;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  height: 35px;
  border-radius: 4%;
}

.cont-info-simulate button {
  width: 40px;
}
